# Logs
logs
*.log
venv/
__pycache__/
.env
sklearntrack_backend/media/google_tokens/
*.pickle


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
sklearntrack_backend/media/


*.json

# client secret files
SK_LearnTrack\client_secret.json
