Django==4.2.7
reportlab==4.0.9
pypdf==4.0.1
youtube-transcript-api==0.6.2
bleach==6.1.0
beautifulsoup4==4.12.3
html2text==2020.1.16
openai>=1.12.0
groq==1.0.0
python-slugify==8.0.1
pillow==10.2.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.115.0
